@import "../../assets/variables.scss";

.container-token {
  height: 2rem;
  display: inline-block;
  .token {
    font-size: 0.8rem;
    margin: 0;
    color: $textColor;
    font-weight: 600;
    padding: 3px 7px;
    background: $backgroundText;
    border: $borderBlue;
    border-radius: 20px;
  }
}
