@import "../../assets/variables.scss";

.contenairToken {
  height: 2rem;
  display: inline-block;
  position: absolute;
  .token {
    font-size: 0.8rem;
    margin: 0;
    color: $textColor;
    font-weight: 700;
    padding: 0.3rem 0.8rem;
    background: $backgroundText;
    border: $borderBlue;
    border-radius: 20px;
  }
}
