@import "../../assets/variables.scss";

.zoom-reward {
  background-color: $backgroundGold;
  text-align: center;
  border: 2px solid #2c2c2c;
  border-radius: 7px;
  box-shadow: 10px 14px 8px -7px #2c2c2c;
  margin: 20px 39px;
}

.img-hero-reward {
  height: 250px;
  width: 190px;
  margin: 2px 2px 2px;
  border: 2px solid #2c2c2c;
  border-radius: 7px;
  @media screen and (min-width: 716px) {
    height: 166px;
    width: 150px;
  }
}

.desc {
  display: inline-block;
  padding: 1px 3px;
  background-color: $backgroundGold;
  width: 80px;
  border: 1px solid #2c2c2c;
  border-radius: 5px;
  margin: 0;
  @media screen and (min-width: 716px) {
    width: 50px;
    font-size: 12px;
  }
}

.height-reward {
  position: absolute;
  bottom: 266px;
  left: 47px;
  @media screen and (min-width: 716px) {
    bottom: 223px;
    left: 286px;
  }
}

.weight-reward {
  position: absolute;
  bottom: 266px;
  right: 47px;
  @media screen and (min-width: 716px) {
    bottom: 223px;
    right: 286px;
  }
}

.big-name-reward {
  min-width: 100px;
  border: 2px solid #2c2c2c;
  display: inline-block;
  border-radius: 5px;
  padding: 0 10px;
  margin: 0px 0 1px;
  line-height: 18px;
  font-size: 0.8em;
  @media screen and (min-width: 716px) {
    display: block;
    width: 120px;
    margin: 0 auto 5px;
    font-size: 16px;
    padding: 0px 10px;
  }
}

.name-reward,
.full-name-reward,
.race-reward,
.publisher-reward {
  font-size: 0.6em;
  line-height: 9px;
  font-weight: 500;
  margin: 5px;
  text-align: center;
}
.reward-restart {
  font-size: 1em;
  color: $textColor;
  border: $borderBlue;
  border-radius: 8px;
  background-color: $backgroundText;
  box-shadow: 10px 14px 8px -7px #2c2c2c;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) 1.5s both;
  @keyframes text-focus-in {
    0% {
      filter: blur(12px);
      opacity: 0;
    }
    100% {
      filter: blur(0px);
      opacity: 1;
    }
  }
}
.omg {
  position: absolute;
  width: 200px;
  bottom: 40%;
  right: 14%;
  animation: wow 4s cubic-bezier(0.68, -0.6, 0.32, 1.6) 0s 1 reverse forwards;
  @keyframes wow {
    0% {
      animation-timing-function: ease-in;
      opacity: 0;
      transform: translateY(-250px);
    }

    20% {
      animation-timing-function: ease-out;
      opacity: 1;
      transform: translateY(0);
    }

    37% {
      animation-timing-function: ease-in;
      transform: translateY(-65px);
    }

    54% {
      animation-timing-function: ease-out;
      transform: translateY(0);
    }

    63% {
      animation-timing-function: ease-in;
      transform: translateY(-28px);
    }

    72% {
      animation-timing-function: ease-out;
      transform: translateY(0);
    }

    77% {
      animation-timing-function: ease-in;
      transform: translateY(-8px);
    }

    75% {
      animation-timing-function: ease-out;
      transform: translateY(0);
    }
    85% {
      transform: rotate(0);
      transform-origin: left;
    }

    100% {
      transform: rotate(360deg);
      transform-origin: left;
    }
  }
}
