@import "../../../assets/variables";

.pow {
  width: 60vw;
  height: 25vh;
  animation: powtwo 0.5s linear infinite both;
}
@keyframes powtwo {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}
.loseP {
  width: 90vw;
  color: $textColor;
  background: $backgroundText;
  border: $borderBlue;
  border-radius: 15px;
  padding: 3px;
}
.boutonP {
  font-size: 1.2em;
  color: $textColor;
  background: $backgroundText;
  border: $borderBlue;
  box-shadow: 0px 0px 6px 3px black;
  border-radius: 15px;
  padding: 3px 6px;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) 1.5s both;
  @keyframes text-focus-in {
    0% {
      filter: blur(12px);
      opacity: 0;
    }
    100% {
      filter: blur(0px);
      opacity: 1;
    }
  }
}
